services:
  backend:
    build:
      context: ./apps/backend
    container_name: backend
    volumes:
      - ./apps/backend:/app
      - ./apps/backend/src:/app/src
      - ./data:/data
    ports:
      - "8001:8001"
    env_file:
      - .env  # optional, if you have environment variables
    depends_on:
      - frontend

  frontend:
    build:
      context: ./apps/frontend
    container_name: frontend
    volumes:
      - ./apps/frontend:/app
    ports:
      - "3000:3000"
    environment:
      - REACT_APP_API_URL=http://localhost:8001/api

networks:
  default:
    driver: bridge
